In [4]:
x, y, z = 1, 2, 3

In [6]:
x

1

In [9]:
if x > z:
    print('x is less than z')

In [10]:
x>z

False

In [11]:
x == z

False

In [12]:
x!= y

True

In [13]:
x<z

True

In [16]:
x>=z

False

In [17]:
x<=z

True

In [18]:
x,y = 8,8
if x<y:
    print('x is less than y')
elif x==y:
    print('x is equal to y')
else:
    print('x is greater than y')

x is equal to y

In [25]:
x,y =10,4
st = 'x is less than y' if (x<y) else "x is greater than y or x is equal to y"

In [27]:
x<y

False

In [30]:
x,y = 10,4
if x<y:
    print('x is less than y')
else:
    'x is greatert han y or x is equal to y'
print(x<y)

False

In [49]:
my_list = [23, 34, 45, 43, 23, 48, 45]
even_list =[]
odd_list = []
for i in my_list:
    if i % 2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)
even_list
odd_list

[23, 45, 43, 23, 45]

In [48]:
odd_list

[23, 45, 43, 23, 45]

In [52]:
my_list = [12,23,34,56,45,34,23,78]
new_list = []
for i in my_list:
    if i % 2 == 0:
        new_list.append('even')
    else:
        new_list.append('odd')

In [53]:
new_list

['even', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'even']

In [59]:
x = 2
y = 1
if ((x <=2) and (y>= 1)):
    print('the condition is satisfied')

the condition is satisfied

In [60]:
age = 42
if age > 18 and age< 25:
    print('youth')
elif age >1 and age <18:
    print('chlideren')
elif age >25 and age < 40:
    print('old people')
else:
    print('old people')

old people

In [1]:
a = {5,6,7}
sum(a,5)

23

In [3]:
int(1011)

1011

In [4]:
x = 456
print("%-06d"%x)

456

In [6]:
4^12

8

In [7]:
t =(1,2)
2*t

(1, 2, 1, 2)

In [8]:
hex(15)

'0xf'

In [11]:
cmp(3,1)

NameError: name 'cmp' is not defined

In [1]:
a = [12,12.3,"sachin",3 + 4j,True]
b = [34,34.4,"likith",3 + 5j,False]
#a.
e = [1,2,3,4,5]
c= a+b+e
c
#b.	
import collections
print("Original List : ",c)
ctr = collections.Counter(c)
print("Frequency of the elements in the List : ",ctr)
#c.	
c.reverse()
c

Original List :  [12, 12.3, 'sachin', (3+4j), True, 34, 34.4, 'likith', (3+5j), False, 1, 2, 3, 4, 5]
Frequency of the elements in the List :  Counter({True: 2, 12: 1, 12.3: 1, 'sachin': 1, (3+4j): 1, 34: 1, 34.4: 1, 'likith': 1, (3+5j): 1, False: 1, 2: 1, 3: 1, 4: 1, 5: 1})

[5,
 4,
 3,
 2,
 1,
 False,
 (3+5j),
 'likith',
 34.4,
 34,
 True,
 (3+4j),
 'sachin',
 12.3,
 12]

In [7]:
a = [12,12.3,"sachin",3 + 4j,True]
b = [34,34.4,"likith",3 + 5j,False]
e  = [1,2,3]
c= a+b+e
c
#b.	
import collections
print("Original List : ",c)
ctr = collections.Counter(c)
print("Frequency of the elements in the List : ",ctr)
#c.	
c.reverse()
c

Original List :  [12, 12.3, 'sachin', (3+4j), True, 34, 34.4, 'likith', (3+5j), False, 1, 2, 3]
Frequency of the elements in the List :  Counter({True: 2, 12: 1, 12.3: 1, 'sachin': 1, (3+4j): 1, 34: 1, 34.4: 1, 'likith': 1, (3+5j): 1, False: 1, 2: 1, 3: 1})

[3, 2, 1, False, (3+5j), 'likith', 34.4, 34, True, (3+4j), 'sachin', 12.3, 12]

In [6]:
a = [12,12.3,"sachin",3 + 4j,True]
b = [34,34.4,"likith",3 + 5j,False]
e  = [1,23,4]
c= a+b+e
c

[12, 12.3, 'sachin', (3+4j), True, 34, 34.4, 'likith', (3+5j), False, 1, 23, 4]

In [8]:
a ={1,2,3,4,5,6,7,8,9,10}
b ={5,6,7,8,9,10,11,12,13,14,15}
a
b
print(set(a).intersection(b))
print(a|b)
a.remove(7)
a
b.remove(11)
b

{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

{5, 6, 7, 8, 9, 10, 12, 13, 14, 15}

In [10]:
a ={1,2,3,4,5,6,7,8,9,10}
a.remove(7)
a

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [11]:
b ={5,6,7,8,9,10,11,12,13,14,15}
b.remove(11)
b

{5, 6, 7, 8, 9, 10, 12, 13, 14, 15}

In [12]:

covid_cases = {"goa":23,"kerala":2222,"ap":2345,"ts":345,"delhi":2334}
covid_cases
covid_cases.keys()
covid_cases['america']=65
covid_cases

{'goa': 23,
 'kerala': 2222,
 'ap': 2345,
 'ts': 345,
 'delhi': 2334,
 'america': 65}

In [13]:
x = 12345
y = 543
z = 399

equation = 22*y + z

if equation == x:
    print('it is a valid relation')

it is a valid relation

In [14]:
print('s' in "Data Science")

False

In [1]:
def people(age):
    
    if age < 10:
        print("Children")
    if age > 60:
        print("Senior citizen")
    if (age>10 and age<60):
        print("Normal citizen")

In [2]:
people(8)

Children

In [ ]:
people()