In [16]:
my_list = 'sachin'
for i in my_list:
    print(i)

s
a
c
h
i
n

In [3]:
list(my_list)

['s', 'a', 'c', 'h', 'i', 'n']

In [18]:
range(1,10)

range(1, 10)

In [19]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [21]:
for i in range(10,7,-1):
    print(i)

10
9
8

In [23]:
my_list=[]
for i in range(10,7,-1):
    my_list.append(i)
my_list

[10, 9, 8]

In [26]:
my_list=[10,9,8]
my_list.sort()
my_list

[8, 9, 10]

In [27]:
my_list=[10,9,8]
my_list.sort(reverse=True)
my_list

[10, 9, 8]

In [28]:
my_list=[10,9,8]
my_list.sort(reverse=False)
my_list

[8, 9, 10]

In [29]:
my_list = [6,9,8]
for i in sorted(my_list):
    print(i)

6
8
9

In [30]:
my_list = [6,9,8]
sorted(my_list)

[6, 8, 9]

In [34]:
my_list = ['sachin','virat']
for index,value in enumerate(my_list):
    print(index,value)

0 sachin
1 virat

In [35]:
for i in enumerate(my_list):
    print(i)
    print(type(i))

(0, 'sachin')
<class 'tuple'>
(1, 'virat')
<class 'tuple'>

In [36]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
my_list = ['sachin','virat']
for i in range(len(my_list)-1,-1,-1):
    print(my_list[i])

virat
sachin

In [41]:
my_list = ['sachin','virat']
for i in my_list:
    print(i)

sachin
virat

In [42]:
for i in range(1,-1,-1):
    print(my_list[i])

virat
sachin

In [46]:
a = 'sachin'
for i in range(len(a)-1,-1,-1):
    print(a[i],end = " ")

n i h c a s

In [48]:
my_list = ['sachin','virat']
my_list[::-1]

['virat', 'sachin']