# Pandas Basics

+ Pandas is high level data manipulation tool developed by wes Mckinney
+ It is bulit on the numpy packageand its data structure is called DataFrame.
+ Dataframes allow you to store and manipulate tabulaar data in rows of observation and columns of variables

In [3]:
import pandas as pd

In [12]:
my_dict = {"country":["india","russia","china"],
          "capital":["delhi","moscow","bejing"],
          "area":[1.2,2.3,4.5]}

In [13]:
my_dict

{'country': ['india', 'russia', 'china'],
 'capital': ['delhi', 'moscow', 'bejing'],
 'area': [1.2, 2.3, 4.5]}

In [14]:
df = pd.DataFrame(data=my_dict)

In [15]:
df

  country capital  area
0   india   delhi   1.2
1  russia  moscow   2.3
2   china  bejing   4.5

In [17]:
ser = pd.Series([1,2,3])

In [18]:
ser

0    1
1    2
2    3
dtype: int64

In [19]:
ser = pd.Series([0.2,0.3,0.4])

In [20]:
ser

0    0.2
1    0.3
2    0.4
dtype: float64

json -java script object notation