In [2]:
a = 1
b = 'sachin'
c = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
a = 'virat'
b = 'kohli'
c = a + ' '+b

In [4]:
c

'virat kohli'

In [5]:
a = str(1)
b = 'sachin'
c= a + b

In [6]:
type(b)

str

In [7]:
c

'1sachin'

# arguments

In [9]:
# default arguments
print("hello {},your balance {}".format('sachin',25678))

hello sachin,your balance 25678

In [13]:
print("hello {},your balance {}".format(23445,'sachin'))

hello 23445,your balance sachin

In [15]:
# positional arguments
print("hello {1},your balance {0}".format(2456,'sachin'))

hello sachin,your balance 2456

In [17]:
# keyword arguments
print("Hello {name},Your balance is {bal}".format(name = 'sachin',bal = 234563))

Hello sachin,Your balance is 234563

In [19]:
# Mixed Arguments
print("Hello {0},Your balance is {bal}".format('sachin',bal = 56564))

Hello sachin,Your balance is 56564

In [21]:
#some basic argument

In [23]:
age = 15
print("my age is:",age)

my age is: 15

In [26]:
age = 15
print("my age is %s"%age)

my age is 15

In [27]:
name = 'sachin'
print("My name is %s"%name)

My name is sachin

In [28]:
age = 15
print("My age is %d"%age)

My age is 15

In [29]:
print("My name is %s and age is %d"%(name,age))

My name is sachin and age is 15

In [30]:
print('my age is %d'%age)

my age is 15

In [31]:
print('my age is %.1f'%age)

my age is 15.0

In [32]:
name = 'venkat'
print(f"my name is {name}")

my name is venkat

In [35]:
age = 21
name = 'sachin'
print(f"my name is ", (name), "and my age is " , (age))

my name is  sachin and my age is  21

In [36]:
print(f"my name is",{name},f"my age is ",{age})

my name is {'sachin'} my age is  {21}